.App {
  font-family: sans-serif;
  text-align: center;
}

.Logo {
  height: 300px;
}

footer {
  height: 10%;
  background-color: purple;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.redessociais{
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
